.bd-example
	#carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
		-# = image_tag 'esquina.png', class: 'esquina'
		.carousel-inner
			.carousel-item.active
				=image_tag 'home-1.png' , class: 'home-image'
			.carousel-item
				=image_tag 'home-2.png' , class: 'home-image'
			.carousel-item
				=image_tag 'home-3.png' , class: 'home-image'
		-# =image_tag 'esqueleto.png' ,class: 'marco'
		.triangle

