.bd-example
	#carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
		-# = image_tag 'esquina.png', class: 'esquina'
		.carousel-inner
			.carousel-item.active
				=image_tag 'soldador.jpg' , class: 'home-image'
			.carousel-item
				=image_tag 'soldador.jpg' , class: 'home-image'
			.carousel-item
				=image_tag 'soldador.jpg' , class: 'home-image'
		-# =image_tag 'esqueleto.png' ,class: 'marco'
		.triangle

