=render partial: 'carousel'
-# .container	
-# .triangle	
.row.circle-section	
	-# .col-12.subtitle
	-# 	-# .line.large
	-# 	-# .line.short
	-# 	%h3 Titulo
	-# 	-# .line.short
	-# 	-# .line.large

	.col-12.col-lg-4.circle-sect
		=link_to '/postes' , class: "circle" do		
			%h4 Postes
	.col-12.col-lg-4.circle-sect
		=link_to '/postes' do	
			.circle	
				%h4 Postes	
	.col-12.col-lg-4.circle-sect
		=link_to '/postes' do		
			.circle	
				%h4 Postes
.row.business
	.col-12.d-none.d-lg-inline-block.col-lg-2
	.col-12.col-lg-4
		=image_tag 'logo.png' , class: 'logos'
	.col-12.col-lg-4
		=image_tag 'logo.png' , class: 'logos'
	.col-12.d-none.d-lg-inline-block.col-lg-2

=render partial: 'tabs'