.postes
	.postes-title
		.line
		%h2.title Postes Tubulares
		.line
	.row
		.col.m12.l4
			.row.card
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%p.subtitle Empotrado y con placa base
					.line-card
		.col.m12.l4
			.row.card
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%p.subtitle Empotrado y con placa base
					.line-card
		.line-card
			.col.m12.l4
				.row.card
					.col.s3.card-stacked
						.card-content
							%p I am
					.col.s6.card-image
						=image_tag('poste_tubular_1t.jpg')
					.col.s3.card-stacked
						.card-content
							%p I am
					.col.s12
						%p.subtitle Empotrado y con placa base
						.line-card
		
	
	.row
		.col.m1
		.col.m12.l4
			.row.card
				.col.s12	
					.postes-title
						.line
						%h2.title Postes Tubulares
						.line	
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%p.subtitle Empotrado y con placa base
					.line-card
		.col.m2
		.col.m12.l4
			.row.card
				.col.s12	
					.postes-title
						.line
						%h2.title Postes Tubulares
						.line	
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%p.subtitle Empotrado y con placa base
					.line-card
		.col.m1