.section-postes.tubulares
	%h2.title-psotes Postes Tubulares
	.row.postes.tubulares
		.col.col-12.col-xl-6.c-card
			.card
				.border
				%h4.title-poste 1 Tramo
				.listas
					.row
						%ul.col-6
							%li.bold Empotrado
							%li	3 Metros
							%li	4 Metros
							%li	5 Metros
						.vertical
						%ul.col-6
							%li.bold Placa Base	
							%li	3 Metros
							%li	4 Metros
							%li	5 Metros
							%li	6 Metros
				=image_tag 'poste_tubular_1t.jpg'  , class: 'image-poste'

		.col.col-12.col-xl-6.c-card
			.card
				.border
				%h4.title-poste 3 Tramo
				.listas
					.row
						%ul.col-6
							%li.bold Empotrado
							%li	6 Metros
							%li	7 Metros
							%li	8 Metros
							%li	9 Metros
							%li	10 Metros
						.vertical
						%ul.col-6
							%li.bold Placa Base	
							%li	6 Metros
							%li	7 Metros
							%li	8 Metros
							%li	9 Metros
							%li	10 Metros
							%li	11 Metros	
				=image_tag 'poste_tubular_3t.jpg'  , class: 'image-poste'

	.row.postes
		.col.col-12.col-xl-12.c-card
			.card
				.border
				%h4.title-poste 4 Tramo
				.listas
					.row
						%ul.col-6
							%li.bold Empotrado
							%li	11 Metros
							%li	12 Metros

						.vertical
						%ul.col-6
							%li.bold Placa Base	
							%li	12 Metros	
				=image_tag 'poste_tubular_4t.jpg'  , class: 'image-poste'
	
	
	
.section-postes.rectangulares
	.row.postes
		.col.col-12.col-xl-6.c-card
			%h2.title-psotes Postes Cuadrado
			.card
				.border
				.listas
					.row
						%ul.col-6
							%li.bold Empotrado
							%li	1 Metros
							%li	2 Metros
							%li	3 Metros
							%li	4 Metros
							%li	5 Metros
							%li	6 Metros
							%li	7 Metros
							%li	8 Metros
							%li	9 Metros
							%li	10 Metros
							%li	11 Metros
							%li	12 Metros
						.vertical
						%ul.col-6
							%li.bold Placa Base	
							%li	1 Metros
							%li	2 Metros
							%li	3 Metros
							%li	4 Metros
							%li	5 Metros
							%li	6 Metros
							%li	7 Metros
							%li	8 Metros
							%li	9 Metros
							%li	10 Metros
							%li	11 Metros
							%li	12 Metros
				=image_tag 'cuadrado.png'  , class: 'image-poste'

		.col.col-12.col-xl-6.c-card
			%h2.title-psotes Postes Conico
			.card
				.border
				.listas
					.row
						%ul.col-12
							%li.bold Placa Base	
							%li	4 Metros
							%li	5 Metros
							%li	6 Metros
							%li	9 Metros
							%li	10 Metros	
							%li	11 Metros	
							%li	12 Metros	
				=image_tag 'CONICO.png'  , class: 'image-poste'
				