.postes
	.postes-title
		.line
		%h2.title Postes Tubulares
		.line
	.row
		.col.s12.m4
			.row.card
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%p.subtitle Empotrado y con placa base
					.line-card
		.col.s12.m4
			.row.card
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%h8 Empotrado y con placa base
		.col.s12.m4
			.row.card
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s6.card-image
					=image_tag('poste_tubular_1t.jpg')
				.col.s3.card-stacked
					.card-content
						%p I am
				.col.s12
					%h8 Empotrado y con placa base
	.row
		.col.m2
		.col.s12.m4
			.card.horizontal
				.card-image
					=image_tag('poste_tubular_1t.jpg')
				.card-stacked
					.card-content
						%p I am a very simple card. I am good at containing small bits of information.
		.col.s12.m4
			.card.horizontal
				.card-image
					=image_tag('poste_tubular_1t.jpg')
				.card-stacked
					.card-content
						%p I am a very simple card. I am good at containing small bits of information.
		.col.m2