.row.postes
	.col.col-12.col-xl-6
		.card
			.border
			%h4.title-poste Poste tubular 1 Tramo
			.listas
				.row
					%ul.col-6
						%li.bold Empotrado
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
					.vertical
					%ul.col-6
						%li.bold Placa Base	
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros	
			=image_tag 'poste_tubular_1t.jpg'  , class: 'image-poste'

	.col.col-12.col-xl-6
		.card
			.border
			%h4.title-poste Poste tubular 1 Tramo
			.listas
				.row
					%ul.col-6
						%li.bold Empotrado
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
					.vertical
					%ul.col-6
						%li.bold Placa Base	
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros	
			=image_tag 'poste_tubular_1t.jpg'  , class: 'image-poste'

.row.postes
	.col.col-12.col-xl-12
		.card
			.border
			%h4.title-poste Poste tubular 1 Tramo
			.listas
				.row
					%ul.col-6
						%li.bold Empotrado
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
					.vertical
					%ul.col-6
						%li.bold Placa Base	
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros
						%li	4 Metros	
			=image_tag 'poste_tubular_1t.jpg'  , class: 'image-poste'