$background-footer: #042e40;
.footer{
//   margin: 0px;
  background-color: $background-footer;
//   height: 120px;
margin: unset !important;
  width: 100%;
  color: white;
.col-foot{
  @media screen and (max-width: 991px) and (min-width: 50px){
    margin: 20px 0px;
  }
}
  .info{
    margin-top: 30px;
    margin-left: 30px;
    .logo-footer{
      width: auto;
      height: 61px;
      margin-top: 20px;
      @media screen and (max-width: 991px) and (min-width: 50px){
        margin-left: auto !important;
        margin-right: auto !important;
        display: inherit;
      }
    }
    p{
      margin-left: 10px;
      @media screen and (max-width: 991px) and (min-width: 50px){
        text-align: center;
      }
    }
  }
  .col{
    height: 100%
  }
  .contact{
    width: 100%;
    margin-right: 30px;
    margin-top: 35px;
    text-align: center;
    img{
      position: absolute;
      bottom: 10px;
      display: inline-block;
    }
  }
  .term-cond{
    text-align: center;
    margin-top: 35px;
    @media screen and (max-width: 991px) and (min-width: 50px) {
      margin: 20px 0px;
    }
    a{
      color: white;
    }
    width: 100%;
  }

  @media screen and (max-width: 991px) and (min-width: 50px) {
  height: unset;
  .col{
    display: unset;
    margin: 15px;
  }
  .info{
    margin: unset;
    display: block !important;
    p{
      display: block;
      margin: unset;
    }
    .logo-footer{
      width: 133px;
      height: auto;
      margin: unset;
    }
  }
    .contact{
      margin-right: unset;
    }
  }
  .logo-vendeep{
      width: 100px !important;
      height: auto !important;  
      left: 50%;
      transform: translate(-50%, 0%);
  }
}
